.register{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        -webkit-box-shadow: 2px 4px 10px 1px rgba(0,0,0,0.47);
        box-shadow: 2px 4px 10px 1px rgba(201,201,201,0.47);
        padding: 20px;

        input{
            width: 200px;
            height: 30px;
            margin: 10px;
        }
        button{
            width: 200px;
            height: 30px;
            margin: 10px;
            border: none;
            background-color: blue;
            color: white;
            font-weight: bold;
            cursor: pointer;
        }
    }
}